body {
  background-color: hsla(106, 29%, 47%, 0.5);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
body .content .titulo {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body .content .titulo {
    font-size: 2.5rem;
    margin: 1rem;
  }
}
body .content .buscar_fato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
body .content .buscar_fato__input {
  width: 30%;
  padding: 0.7rem 1rem;
  border: 1px hsla(4, 95%, 61%, 0.5) solid;
  border-radius: 999px;
  text-align: left;
  outline: none;
}
body .content .buscar_fato__input::-moz-placeholder {
  text-align: left;
}
body .content .buscar_fato__input::placeholder {
  text-align: left;
}
body .content .buscar_fato__input:focus {
  border-width: 2px;
}
@media screen and (max-width: 1440px) {
  body .content .buscar_fato__input {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  body .content .buscar_fato__input {
    width: 80%;
  }
}
body .content .buscar_fato__botoes {
  display: flex;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  body .content .buscar_fato__botoes {
    gap: 3rem;
  }
}
body .content .buscar_fato__botoes .botao {
  border: none;
  border-radius: 12px;
  background-color: #FA493B;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  body .content .buscar_fato__botoes .botao {
    padding: 0.75rem 1.75rem;
  }
}
body .content .sobre_frida {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body .content .sobre_frida div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 29%;
}
body .content .sobre_frida div .sobre_frida__titulo {
  font-size: 1.5rem;
  font-weight: 500;
}
body .content .sobre_frida div .sobre_frida__texto {
  text-align: justify;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  body .content .sobre_frida div .sobre_frida__texto {
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 1440px) {
  body .content .sobre_frida div {
    max-width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body .content .sobre_frida div {
    max-width: 80%;
  }
}
body .content .sobre_frida img {
  width: 14%;
  border-radius: 8px;
}
@media screen and (max-width: 1440px) {
  body .content .sobre_frida img {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  body .content .sobre_frida img {
    display: none;
  }
}
body .content .sobre_frida .fato_titulo {
  font-size: 2rem;
  font-weight: 600;
}
body .content .sobre_frida .fato_texto {
  width: 50%;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  body .content .sobre_frida .fato_texto {
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */